
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASP.Net MVC Foundation Site</title>
    <link rel="stylesheet" href="lib/foundation/css/foundation.css" />
    <link rel="stylesheet" href="lib/foundation/css/app.css" />
    <link rel="stylesheet" type="text/css" href="lib/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="lib/slick/slick-theme.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
        .topStyle {
            color: black;
            font-size: small;
            font-family: "Yu Gothic UI"
        }
        .botStyle {
            color: white;
            font-family: "Yu Gothic UI";
        }
        .media {
            border-right: solid;
            border-color: grey;
            border-right-width: 2px;
        }
        .cardStyle {
            border: unset;
            height: inherit;
        }
        .cardHead {
            font-size: x-large;
            color: #707070;
            font-family: "Yu Gothic UI";
            padding-bottom: 7%;
        }
        .cardImg {
            display: block;
            height: 225px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            max-width: inherit;
            clip: auto;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
        }
        .cardBody {
            height: 125px;
            font-family: "Yu Gothic";
            margin-left: -5%;
            margin-right: -5%;
            font-weight: 500;
        }
        .cardButton {
            width: 60%;
            text-align: left;
            font-family: "Yu Gothic UI";
            font-weight: bold;
            color: white;
            background: Green;
        }
        .cardButton:hover {
            background: DarkGreen
        }
        .cardBody2 {
            height: 110px;
            font-family: "Yu Gothic";
            font-weight: 500;
            font-size: larger;
            text-align: center;
            align-content: center;
        }
        .productCardBody {
            font-family: "Yu Gothic";
            font-weight: 500;
            font-size: larger;
            text-align: center;
            align-content: center;
            padding-top: 10px;
            color: dimgrey;
        }
        .productCardStyle {
            border: unset;
            width: 260px;
            margin: 21px;
        }
        .headerStyle {
            font-size: xx-large;
            color: #707070;
            font-family: "Yu Gothic UI";
            padding-top: 30px;
            padding-bottom: 40px;
        }
        right {
            float:right;
        }
    </style>
</head>

<body>
    <header style="background-color:#E6E7E8">
        <div class="grid-container" style="width:1280px; margin-left:auto; margin-right:auto; padding-bottom:15px; padding-top:20px">
            <img src="lib/images/opticron-logo.png" />
            <div class="top-bar grid-x" id="head-menu">
                <div class="cell top-bar-left large-7" style="margin-left:-30px">
                    <ul class="dropdown menu align-spaced">
                        <li><a href="#0" class="topStyle">Our Products</a></li>
                        <li><a href="#0" class="topStyle">Where to Buy</a></li>
                        <li><a href="#0" class="topStyle">News & Reviews</a></li>
                        <li><a href="#0" class="topStyle">Help & Support</a></li>
                        <li><a href="#0" class="topStyle">My Opticron</a></li>
                    </ul>
                </div>
                <div class="cell top-bar-right large-5">
                    <right>
                        <ul class="menu">
                            <li style="height:min-content">
                                <div class="input-group">
                                    <input class="input-group-field topStyle" type="url" placeholder="My Opticron..." style="height:35px">
                                    <div class="input-group-button">
                                        <button class="button" value="Submit" style="background-color:grey; padding:3px; width:35px; height:35px"> 
                                            <i class="material-icons" style="font-size:20px">search</i> 
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </right>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer style="background-color:#BBBDBF; width:auto">
        <div class="grid-container" style="width:1280px; padding-top:40px; padding-bottom:40px">
            <div class="grid-x">
                <div class="cell botStyle large-6 grid-y">
                    <div class="cell large-11" style="font-size:medium">
                        <b>Opticron</b> Unit 21, Titan Court, Laporte Way, Luton, Bedforshire, LU4 8EF, UK
                    </div>
                    <div class="cell large-1" style="font-size:small">
                        <a class="botStyle">Site map</a> / 
                        <a class="botStyle">Terms</a> /
                        <a class="botStyle">Privacy Policy</a> /
                        <a class="botStyle">Site by Verto</a>
                    </div>
                </div>
                <div class="cell large-2"></div>
                <div class="cell botStyle large-3 grid-y" style="padding-left:30px"> 
                    <div class="cell" style="font-size:xx-large; padding-top:0; line-height:0.7">
                        call <right><b>01582 726522</b></right>
                    </div>
                    <div class="cell" style="font-size:large">
                        <email><b>email us</b> <right>sales@opticron.co.uk</right></email>
                    </div>
                    <div class="grid-x" style="margin-top:30px; font-size:x-large; text-align:center;">
                        <div class="cell large-auto media"><a><i class="fa fa-facebook" style="color:white"></i></a></div>
                        <div class="cell large-auto media"><a><i class="fa fa-twitter" style="color:white"></i></a></div>
                        <div class="cell large-auto media"><a><i class="fa fa-linkedin" style="color:white"></i></a></div>
                        <div class="cell large-auto media"><a><i class="fa fa-youtube" style="color:white"></i></a></div>
                        <div class="cell large-auto"><a><i class="fa fa-google-plus" style="color:white"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="lib/foundation/js/vendor/jquery.js"></script>
    <script src="lib/foundation/js/vendor/what-input.js"></script>
    <script src="lib/foundation/js/vendor/foundation.js"></script>
    <script src="lib/foundation/js/app.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="lib/slick/slick.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').slick({
                autoplay: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                speed: 300,
                dots: true,
                dotsClass: "dotsRight",
                adaptiveHeight: false,
                centerMode: true,
                variableWidth: true,
              });
            $('.productCarousel').slick({
                autoplay: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                speed: 300,
                arrows: true,
                adaptiveHeight: false,
                variableWidth: true,
                infinite: true,
              });
            });
    </script>

</body>
</html>
