@{
    ViewData["Title"] = "Index";
}
<body>

    <div class="grid-container ">
        <div class="grid-x grid-padding-x">
            <div class="cell small-4 callout secondary" style="color:red">small</div>
            <div class="cell small-8 callout primary">big</div>
        </div>
        <div class="grid-y callout success">
            <div class="cell small-4 callout">small</div>
            <div class="cell small-8">largae</div>
        </div>
        
    </div>
</body>
</html>
