
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASP.Net MVC Foundation Site</title>
    <link rel="stylesheet" href="lib/foundation/css/foundation.css" />
</head>
<body>

    <div class="grid-container ">
        <div class="grid-x grid-padding-x">
            <div class="cell small-4 callout secondary" style="color:red">small</div>
            <div class="cell small-8 callout primary">big</div>
        </div>
        <div class="grid-y callout success">
            <div class="cell small-4 callout">small</div>
            <div class="cell small-8">largae</div>
        </div>
        
    </div>


    <script src="lib/foundation/js/vendor/jquery.js"></script>
    <script src="lib/foundation/js/vendor/what-input.js"></script>
    <script src="lib/foundation/js/vendor/foundation.js"></script>
    <script src="lib/foundation/js/app.js"></script>
</body>
</html>
