@{
    ViewData["Title"] = "Index";
}
<body>
    <div class="carousel" style="width:auto; margin-left:0 auto; margin-right:0 auto; padding-bottom:20px">
        <div class="slide"><img src="lib/images/placeholder1-1920x400.png" /></div>
        <div class="slide"><img src="lib/images/placeholder2-1920x400.png" /></div>
        <div class="slide"><img src="lib/images/placeholder3-1920x400.png" /></div>
        <div class="slide"><img src="lib/images/placeholder4-1920x400.png" /></div>
        <div class="slide"><img src="lib/images/placeholder5-1920x400.png" /></div>
    </div>

    <div class="grid-container" style="width:1280px; margin-left:0 auto; margin-right:0 auto">
        <div class="grid-y">
            <div class="grid-x grid-padding-x" style="padding-bottom: 50px">
                <div class="cell large-auto">
                    <div class="card cardStyle">
                        <div class="cardHead">
                            New Products
                        </div>
                        <img class="cardImg" src="lib/images/opticron-logo.png">
                        <div class="card-section cardBody">
                            <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        </div>
                        <a class="button cardButton">New Products</a>
                    </div>
                </div>
                <div class="cell large-auto">
                    <div class="card cardStyle">
                        <div class="cardHead">
                            Field Events
                        </div>
                        <img class="cardImg" src="lib/images/opticron-logo.png">
                        <div class="card-section cardBody">
                            <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        </div>
                        <a class="button cardButton">View Events</a>
                    </div>
                </div>
                <div class="cell large-auto">
                    <div class="card cardStyle">
                        <div class="cardHead">
                            Latest News
                        </div>
                        <img class="cardImg" src="lib/images/opticron-logo.png">
                        <div class="card-section cardBody">
                            <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        </div>
                        <a class="button cardButton">Read Article</a>
                    </div>
                </div>
                <div class="cell large-auto">
                    <div class="card cardStyle">
                        <div class="cardHead">
                            Gallery
                        </div>
                        <img class="cardImg" src="lib/images/opticron-logo.png">
                        <div class="card-section cardBody">
                            <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        </div>
                        <a class="button cardButton">View Gallery</a>
                    </div>
                </div>
            </div>

            <div class="cell callout secondary" style="border:none">
                <div class="headerStyle" style="text-align:center"> Special Offers </div>
                <div class="grid-x grid-padding-x">
                    <div class="cell large-auto">
                        <a>
                            <div class="card">
                                <img class="cardImg" src="lib/images/opticron-logo.png">
                                <div class="cardBody2">
                                    Discovery WP PC <br /> <b>£20 Cashback</b>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cell large-auto">
                        <a>
                            <div class="card">
                                <img class="cardImg" src="lib/images/opticron-logo.png">
                                <div class="cardBody2">
                                    HR ED Fieldscopes <br /> <b>Free Digiscoping</b>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cell large-auto">
                        <a>
                            <div class="card">
                                <img class="cardImg" src="lib/images/opticron-logo.png">
                                <div class="cardBody2">
                                    IS 60 WP Fieldscope Kits <br /> <b>Save 25%</b>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="cell">
                <div class="headerStyle" style="text-align:center">Product Categories</div>
                <div class="productCarousel" style="padding-bottom:80px">
                    <div class="card productCardStyle">
                        <img class="cardImg" src="lib/images/opticron-logo.png">
                        <div class="productCardBody">Binoculars</div>
                    </div>
                    <div class="card productCardStyle">
                        <img class="cardImg" src="lib/images/opticron-logo.png">
                        <div class="productCardBody">Binoculars</div>
                    </div>
                    <div class="card productCardStyle">
                        <img class="cardImg" src="lib/images/opticron-logo.png">
                        <div class="productCardBody">Binoculars</div>
                    </div>
                    <div class="card productCardStyle">
                        <img class="cardImg" src="lib/images/opticron-logo.png">
                        <div class="productCardBody">Binoculars</div>
                    </div>
                    <div class="card productCardStyle">
                        <img class="cardImg" src="lib/images/opticron-logo.png">
                        <div class="productCardBody">Binoculars</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
